@model IEnumerable<Repository.Entities.Post>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Posts</h1>

<div>
    <a asp-action="Create" class="btn btn-primary">Create new</a>
    
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Publish Status</th>
            <th>Author</th> 
            <th>Category</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</div>